 <!DOCTYPE html><!--Shift+1 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Document</title>
</head>
<body>
    <div class="nav">
        <img src="/static/icons/glslogo.png">
        <ul id="Maintitles">
            <li><a href="#">Home</a></li>
            <li><a href="#">MCA <i class="fa fa-sort-desc"></i></a>
                <ul>
                    <li><a href="#">Admission</a></li>
                    <li><a href="#">Curriculum</a></li>
                    <li><a href="#">Faculty</a></li>
                    <li><a href="#">About MCA</a></li>
                </ul></li>
            <li><a href="#">Placements <i class="fa fa-sort-desc"></i></a>
                <ul>
                    <li><a href="#">Placement Process</a></li>
                    <li><a href="#">Corporate Participition</a></li>
                    <li><a href="#">Recruitment Scenerio</a></li>

                </ul>
            </li>  
            <li><a href="#">Life at FCT,GLSU <i class="fa fa-sort-desc"></i></a>
                <ul>
                    <li><a href="#">Guest Lectures</a></li> 
                    <li><a href="#">Technical Festival</a></li> 
                    <li><a href="#">Cultural Festival</a></li> 
                    <li><a href="#">Industrial Visit</a></li>
                    <li><a href="#">CSR Activities</a></li> 
                    <li><a href="#">Sports Activities</a></li>
                    <li><a href="#">Student Achievements</a></li>   
                </ul></li>  
                <li><a href="#">Publications <i class="fa fa-sort-desc"></i></a>
                    <ul>
                        <li><a href="#">Techbytes</a></li> 
                        <li><a href="#">Books</a></li>   
                        <li><a href="#">Research Books</a></li>  
                    </ul>
                </li> 
                <li><a href="#">About us <i class="fa fa-sort-desc"></i></a>
                    <ul>
                        <li><a href="#">Gujrat Law Society</a></li>
                        <li><a href="#">GLS University</a></li>
                        <li><a href="#">FCT, GLSU</a></li>
                        <li><a href="#">Library Facility</a></li>
                        <li><a href="#">Computing Facilty</a></li>
                        <li><a href="#">Other Resources</a></li>
                    </ul>    
                </li>  
                <li><a href="#">Contact Us</a>
                   
                </li>


        </ul>
    </div>
    <div class="chatbotint">
        <img src="https://cdn-icons-png.flaticon.com/512/4909/4909424.png">
    </div>
    
</body>
</html>